# API
PORT=5400
NODE_ENV=development

# ORACLE ERP
DB_SID=
DB_HOST=
DB_PORT=
ORACLE_CLIENT=

# ORACLE PROXY
PROXY_USERNAME=
PROXY_PASSWORD=

# POSTGRESQL - SESIONES ORACLE
PG_ORACLE_SESSIONS_HOST=
PG_ORACLE_SESSIONS_PORT=5432
PG_ORACLE_SESSIONS_DATABASE=delsol_oracle_sessions_dev
PG_ORACLE_SESSIONS_USER=
PG_ORACLE_SESSIONS_PASSWORD=
