# API
PORT=5400
NODE_ENV=development

# ORACLE ERP
DB_SID=
DB_HOST=
DB_PORT=
ORACLE_CLIENT=

# ORACLE PROXY
PROXY_USERNAME=
PROXY_PASSWORD=

# POSTGRESQL - SESIONES ORACLE
PG_ORACLE_SESSIONS_HOST=
PG_ORACLE_SESSIONS_PORT=5432
PG_ORACLE_SESSIONS_DATABASE=delsol_oracle_sessions_dev
PG_ORACLE_SESSIONS_USER=
PG_ORACLE_SESSIONS_PASSWORD=

# BÚSQUEDAS
MIN_SIMILARITY=70
LIMIT_FILTER=5

# AWS BEDROCK
AWS_REGION=
AWS_BEDROCK_MODEL_ID=
AWS_BEDROCK_MAX_TOKENS=8192
AWS_BEDROCK_TEMPERATURE=0.1
AWS_BEARER_TOKEN_BEDROCK=

# REDIS / EXPORTACIONES
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
SALES_EXPORT_TTL_SECONDS=600

# DEBUG - SOLO DESARROLLO
BEDROCK_DEBUG=true
BEDROCK_DEBUG_PAYLOADS=false

# DEBUG PII/HASH - SOLO DESARROLLO
PII_DEBUG=false
PII_DEBUG_SHOW_RAW=false
